@{
    ViewBag.Title = "Add Subject";
}

<h2>Add Subject</h2>

@using (Html.BeginForm(actionName: "AddSubject", controllerName: "Category", method: FormMethod.Post))
{
    @Html.Hidden("CategoryId", (int)ViewBag.CategoryId)
    @Html.AntiForgeryToken()

    @Html.Label("Subject:")
    <br />
    @Html.TextBox("Name")

    <br />
    @Html.Label("Index:")
    <br />
    @Html.TextBox("Index", "0")

    <br />
    <button type="submit" class="btn btn-success">Add Subject</button>
}