@model ASPForum.Models.Subject

@{
    ViewBag.Title = "Add Subject";
}

<h2>Add Subject</h2>

<div class="card">
    <div class="card-body">
        @using (Html.BeginForm(actionName: "AddSubject", controllerName: "Category", method: FormMethod.Post))
        {
            @Html.Hidden("categoryId", (int)ViewBag.CategoryId)
            @Html.AntiForgeryToken()

            @Html.LabelFor(model => model.Name, "Subject:")
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })

            <br />
            @Html.LabelFor(model => model.Index, "Index:")
            @Html.EditorFor(model => model.Index, new { htmlAttributes = new { @class = "form-control" } })

            <br />
            <button type="submit" class="btn btn-success">Add Subject</button>
        }
        </div>
</div>