@model ASPForum.Models.Category
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm(actionName: "Edit", controllerName: "Category", method: FormMethod.Post))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.LabelFor(model=> model.Name, "Nume")
    <br />

    @Html.EditorFor( model => model.Name)
    <br /><br />
    @Html.LabelFor(model=> model.Index, "Index")
    <br />
    @Html.EditorFor(model => model.Index)
    <br />
    <button type="submit">Modify category</button>
}
