
@{
    /**/

    /**/

    ViewBag.Title = "ASPForum";
}

<h2>ASPForum</h2>

@if (ViewBag.Categories != null)
{
    foreach (var category in ViewBag.Categories)
    {
        <div class="container card category-container">
            <div class="row">
                <div class="col">
                    <div class="row align-content-center align-bottom">
                        <a class="col-auto align-self-center" href="/Category/Show/@category.Id">
                            <div class="category-title">@category.Name</div>
                        </a>
                        <div class="col">

                        </div>
                        @if (ViewBag.hasRights)
                        {

                            using (Html.BeginForm(actionName: "Edit", controllerName: "Category", method: FormMethod.Get))
                            {
                                @Html.Hidden("id", (int)category.Id)

                                <button type="submit" class="custom-button"><i class="fa fa-edit"></i></button>
                            }

                            using (Html.BeginForm(actionName: "Delete", controllerName: "Category", method: FormMethod.Post))
                            {
                                @Html.Hidden("id", (int)category.Id)
                                @Html.HttpMethodOverride(HttpVerbs.Delete)

                                <button type="submit" class="custom-button"><i class="fa fa-trash-o"></i></button>
                            }
                        }
                    </div>
                    <hr />
                    <div class="subjects-container">

                        @using (Html.BeginForm(actionName: "AddSubject", controllerName: "Category", method: FormMethod.Get))
                        {
                            @Html.Hidden("id", (int)category.Id)

                            <button type="submit" class="custom-button">
                                <i class="fa fa-plus"></i>
                                Subject
                            </button>
                        }

                        @foreach (var subject in category.Subjects)
                        {
                            <div class="row">
                                <a class="col-auto" href="/Subject/Show/@category.Id/@subject.Id">
                                    <div class="col-auto">@subject.Name</div>
                                </a>

                                @using (Html.BeginForm(actionName: "Delete", controllerName: "Subject", method: FormMethod.Post))
                                {
                                    @Html.Hidden("id", (int)subject.Id)

                                    @Html.HttpMethodOverride(HttpVerbs.Delete)

                                    <button type="submit" class="custom-button"><i class="fa fa-trash-o"></i></button>
                                }
                                <br />

                                @using (Html.BeginForm(actionName: "Edit", controllerName: "Subject", method: FormMethod.Get))
                                {
                                    @Html.Hidden("id", (int)subject.Id)

                                    <button type="submit" class="custom-button"><i class="fa fa-edit"></i></button>
                                }

                            </div>
                        }
                        @if (category.Subjects == null || category.Subjects.Count == 0)
                        {
                            <div>This category is empty.</div>
                        }

                    </div>
                    <br />

                </div>
            </div>
        </div>
    }
}

<br />
<br />
<hr />
@if (User.IsInRole("Administrator"))
{
    <input class="btn btn-info m-1" type="button"
           value="Add new category"
           onclick="location.href='@Url.Action("New", "Category")'" />
    <br />
}