@model ASPForum.Models.Category
@{
    ViewBag.Title = "New";
}

<h2>Creating a new category</h2>


@using (Html.BeginForm(actionName: "New", controllerName: "Category", method: FormMethod.Post))
{

    @Html.HiddenFor(model => model.Id)


    @Html.LabelFor(model => model.Name, "Name")
    @Html.EditorFor(model => model.Name)

    @Html.LabelFor(model => model.Index, "Index")
    @Html.EditorFor(model => model.Index)

    <button type="submit">Add category</button>
}