@model ASPForum.Models.Category
@{
    /**/

    ViewBag.Title = "Show";
}

<br />
<a href="/Category/Index"><i class="fa fa-arrow-left"></i> Back to category list</a>
<br />
<br />
<div class="card">
    <div class="card-body">
        <div class="row">

            <div class="card-title ml-2">
                <h1>@Model.Name</h1>
            </div>

            @if (User.IsInRole("Administrator"))
            {


                using (Html.BeginForm(actionName: "Edit", controllerName: "Category", method: FormMethod.Get))
                {
                    @Html.Hidden("id", Model.Id)

                    <button type="submit" class="custom-button"><i class="fa fa-edit"></i></button>
                }


                using (Html.BeginForm(actionName: "Delete", controllerName: "Category", method: FormMethod.Post))
                {
                    @Html.Hidden("id", Model.Id)
                    @Html.HttpMethodOverride(HttpVerbs.Delete)

                    <button type="submit" class="custom-button"><i class="fa fa-trash-o"></i></button>
                }

            }
        </div>
        <hr />
        @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
        {
            using (Html.BeginForm(actionName: "AddSubject", controllerName: "Category", method: FormMethod.Get))
            {
                @Html.Hidden("id", Model.Id)

                <button type="submit" class="custom-button">
                    <i class="fa fa-plus"></i>
                    Subject
                </button>
            }

        }

        <br />

        @foreach (var subject in ViewBag.Subjects)
        {<div class="row">
                <a class="col-auto" href="/Subject/Show/@Model.Id/@subject.Id">@subject.Name</a>
            </div>
        }
    </div>
</div>

<a href="/Category/Index"><i class="fa fa-arrow-left"></i> Back to category list</a>
<br />