@model ASPForum.Models.Category
@{
    /**/

    ViewBag.Title = "Show";
}

<h1>@Model.Name</h1>
@if (User.IsInRole("Administrator"))
{

    using (Html.BeginForm(actionName: "Delete", controllerName: "Category", method: FormMethod.Post))
    {
        @Html.Hidden("id", Model.Id)
        @Html.HttpMethodOverride(HttpVerbs.Delete)

        <button type="submit" class="btn btn-danger m-1">Delete Category</button>
    }

    <input class="btn btn-warning m-1" type="button"
           value="Edit"
           onclick="location.href='@Url.Action("Edit", "Category", new { id = Model.Id})'" />
    <br />
}

@if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
{
    <input class="btn btn-primary m-1" type="button"
           value="Add Subject"
           onclick="location.href='@Url.Action("AddSubject", "Category", new { id = Model.Id})'" />

    <br />
}
<br />

@foreach (var subject in ViewBag.Subjects)
{
    <a href="/Subject/Show/@Model.Id/@subject.Id">@subject.Name</a> 
}

<br />


<hr />
<a href="/Category/Index">Back to category list</a>
<br />