@{
    ViewBag.Title = "Show";
}


<div class="container category-container">
    <div class="row">
        <div class="col-3">
            @Html.Partial("ProfilePartial", (ASPForum.Models.ApplicationUser)ViewBag.Thread.Author)
        </div>
        <div class="col-auto">
            <h2>@ViewBag.Thread.Name</h2>
            <h2>@ViewBag.Thread.Content</h2>
        </div>
    </div>

    @if (ViewBag.Replies != null)
    {
        foreach (var reply in ViewBag.Thread.Replies)
        {
            <div class="row reply-row">
                @Html.Partial("ShowReplyPartial", (ASPForum.Models.Reply)reply)
            </div>
        }
    }
    else
    {
        <div>There are no replies to this thread.</div>
    }

    @if (Request.IsAuthenticated)
    {
        @Html.Partial("AddReplyPartial", (Object)ViewBag.Thread)
    }
</div>