@model ASPForum.Models.Thread

@{
    ViewBag.Title = "Add Thread";
}

<h2>Add Thread</h2>

@using (Html.BeginForm(actionName: "AddThread", controllerName: "Subject", method: FormMethod.Post))
{
    @Html.Hidden("subjectId", (int)ViewBag.SubjectId)

    @Html.LabelFor(model => model.Name , "Thread name:")
    <br />
    @Html.EditorFor(model => model.Name)
    <br />
    @Html.LabelFor(model => model.Content, "Content:")
    <br />
    @Html.EditorFor(model => model.Content)
    <br />
    <button type="submit" class="btn btn-info mr-1">Open Thread</button>
}