@using Microsoft.AspNet.Identity;
@model ASPForum.Models.Subject
@{
    ViewBag.Title = "ASPForum";
}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-auto card-title ml-2 subject-title">
                @Model.Name
            </div>

            @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
            {


                using (Html.BeginForm(actionName: "Edit", controllerName: "Subject", method: FormMethod.Get))
                {
                    @Html.Hidden("id", Model.Id)

                    <button type="submit" class="custom-button"><i class="fa fa-edit"></i></button>
                }

                using (Html.BeginForm(actionName: "Delete", controllerName: "Subject", method: FormMethod.Post))
                {
                    @Html.Hidden("id", Model.Id)
                    @Html.HttpMethodOverride(HttpVerbs.Delete)

                    <button type="submit" class="custom-button"><i class="fa fa-trash-o"></i></button>
                }
            }
        </div>
        <hr />

        @if (ViewBag.NewThreadRight)
        {
            using (Html.BeginForm(actionName: "AddThread", controllerName: "Subject", method: FormMethod.Get))
            {
                @Html.Hidden("id", Model.Id)

                <button type="submit" class="custom-button">
                    <i class="fa fa-plus"></i>
                    Thread
                </button>
            }
        }

        @if (Model.Threads != null)
        {
            foreach (var thread in Model.Threads)
            {

                <div class="row align-content-center align-bottom">
                    <a class="col-auto align-self-center" href="/Thread/Show/@ViewBag.categoryId/@Model.Id/@thread.Id">
                        <div class="category-title">@thread.Name</div>

                    </a>
                    @if ((thread.Author.Id == User.Identity.GetUserId()) || User.IsInRole("Administrator") || User.IsInRole("Moderator"))
                    {

                        using (Html.BeginForm(actionName: "Delete", controllerName: "Thread", method: FormMethod.Post))
                        {
                            @Html.Hidden("threadId", thread.Id)
                            @Html.Hidden("categoryId", Model.Category.Id)
                            @Html.Hidden("subjectId", Model.Id)
                            @Html.HttpMethodOverride(HttpVerbs.Delete)

                            <button type="submit" class="custom-button"><i class="fa fa-trash-o"></i></button>
                        }
                    }
                </div>
            }
        }
        else
        {
            <div>This subject has no threads.</div>
        }
    </div>
</div>