@using Microsoft.AspNet.Identity;
@model ASPForum.Models.Subject
@{
    ViewBag.Title = "ASPForum";
}

<div class="container category-container">
    <div class="row">
        <div class="col-auto">

            <h2>@Model.Name</h2>
        </div>

    </div>

    @if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
    {


        using (Html.BeginForm(actionName: "Delete", controllerName: "Subject", method: FormMethod.Post))
        {
            @Html.Hidden("id", Model.Id)
            @Html.HttpMethodOverride(HttpVerbs.Delete)

            <button type="submit" class="btn btn-danger m-1">Delete Subject</button>
        }
        <br />

        <input class="btn btn-warning m-1" type="button"
               value="Edit"
               onclick="location.href='@Url.Action("Edit", "Subject", new { id = Model.Id})'" />
        <br />
    }

    <hr />

    @if (ViewBag.NewThreadRight)
    {

        <form method="get" action="/Subject/AddThread/@Model.Id">
            <button type="submit" class="btn btn-primary m-1">New Thread</button>
        </form>
    }

    @if (Model.Threads != null)
    {
        foreach (var thread in Model.Threads)
        {

        <div class="row align-content-center align-bottom">
            <a class="col-auto align-self-center" href="/Thread/Show/@ViewBag.categoryId/@Model.Id/@thread.Id">
                <div class="category-title">@thread.Name</div>

            </a>
            @if ((thread.Author.Id == User.Identity.GetUserId()) || User.IsInRole("Administrator") || User.IsInRole("Moderator"))
            {

                using (Html.BeginForm(actionName: "Delete", controllerName: "Thread", method: FormMethod.Post))
                {
                    @Html.Hidden("threadId", thread.Id)
                    @Html.Hidden("categoryId", Model.Category.Id)
                    @Html.Hidden("subjectId", Model.Id)
                    @Html.HttpMethodOverride(HttpVerbs.Delete)

                    <button type="submit" class="btn btn-danger m-1">Delete Thread</button>
                }
            }
        </div>
        }
    }
    else
    {
        <div>This subject has no threads.</div>
    }
</div>
