@model ASPForum.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account details</h4>
    <hr />
    @using (Html.BeginForm(actionName: "EditProfile", controllerName: "Manage", method: FormMethod.Post))
    {
        @Html.HttpMethodOverride(HttpVerbs.Put)

        @*
            Avatar area
        *@

        <div class="avatar-picture">
            <img src="@Model.Avatar" />
        </div>

        @Html.AntiForgeryToken()
        @Html.LabelFor(model => model.Avatar, "Avatar link")
        @Html.EditorFor(model => model.Avatar, new { htmlAttributes = new { @class = "form-control" } });
        <br />

        <br />

        @*
            E-mail area
        *@


        @Html.LabelFor(model => model.Email, "E-mail")
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } });
        <br />

        <br />

        @*
            Location area
        *@


        @Html.LabelFor(model => model.Location, "Location")
        @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } });
        <br />

        <br />


        @*
            Description area
        *@

        @Html.LabelFor(model => model.Description, "Description")
        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } });
        <br />

        <br />

        <button type="submit" class="btn btn-success">Save</button>

    }
    @*
        Roles area
    *@
    Roles: @foreach (var role in @ViewBag.UserRoles)
    {
        <div>@role</div>
    }

    <br />

    @*
        Password area
    *@
    <div>Password:</div>
    <div>
        @if (Model.HasPassword)
        {
            using (Html.BeginForm(actionName: "ChangePassword", controllerName: "Manage", method: FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-warning">Change your password</button>
            }

        }
        else
        {
            using (Html.BeginForm(actionName: "SetPassword", controllerName: "Manage", method: FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-info">Create</button>
            }
        }
    </div>
</div>
